@import '_partial.scss';

* {
	box-sizing: border-box;
 }

body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 14px; background:url('/public/img/fundo-3.jpeg') no-repeat center center; background-size: cover; background-attachment: fixed;
}

.main {
	display:flex;
}

html,
body,
main {
	min-height: 100vh;
}

.limite {
	display: flex; margin:0 auto; position: relative; width: 100%;

	@media (min-width:var(--tablete)) {
		width: 1400px;
	}
}


.painel-titulo,
.painel-lado-esquerdo,
.view-filtro {
	box-shadow: 0px 1px 8px rgba(0,0,0,0.36);
}
