.lista-pacientes-filtro.esconder {
    display:none;
}

.esconder,
.esconder + .separador {
    display:none;
}

.view-filtro-paciente {
    display: block;
}

.view-filtro-paciente-form {
    display: flex;
    flex-direction: column;
}

.view-filtro-paciente {
    display: flex;
    max-height:0;
    transition: all 800ms; 
}

.view-filtro-paciente.aberto {
    max-height:400px;
}

.view-filtro-paciente label {
    margin:20px;
}

.view-filtro-paciente div {
    overflow: hidden;
}