.painel-lado-esquerdo {
  background: #f3902c;
  color: #fff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.36);
  border-top: solid 0px;
  margin: 6px;
  position: fixed;
  float: left;
  height: calc(100vh - 13px);
  width: calc(20% - 12px);
  border-radius: 9px; }

.foto-usuario {
  width: 43px;
  border-radius: 100%; }

.usuario {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px; }

.plataforma {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  background-color: #008d4c; }

.menu-painel {
  padding: 0 10px; }

.menu-painel li {
  margin-bottom: 10px; }

.fa {
  margin-right: 10px; }
