.paciente-novo-form {
    display:flex; 
    flex-direction:column; 
    padding: 30px 0; 
    position:relative;
}

.paciente-novo-form div {
    display:flex;
    justify-content: center;
   }
   
.paciente-novo-form div:not(:last-child) {
   margin-bottom: 10px;
 }

 .paciente-novo-form div:not(:last-child) label{
   margin-right: 10px;
 }

 .paciente-novo-form div label {
   width: 33.33%;
}

 .paciente-novo-form div:nth-of-type(1) label {
   width: 25%;
}

 .paciente-novo-form div input{
   border: none;
   border-radius: 4px;
   padding: 8px;
   width: 100%;
 }

 .paciente-novo-form .campo-obrigatorio:after {
    content:'*'; 
    color:red;
}