.erro-container {
    background-color: red;
    display:inline-block;
    color:#fff;
}

.erro-show {
    padding: 10px;
}

.campo-vazio {
    color:red;
}


.mensagem-erro {
    color:white;
    background-color:orange;
    width:200px;
    height:200px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 200ms;
}

.mensagem-erro.exibir {
    opacity: 1;
    visibility: visible;
}